<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uw.buuteeq_ponyhax.app" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="uw.buuteeq_ponyhax.app.LoginActivity"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uw.buuteeq_ponyhax.app.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme"
            android:parentActivityName="uw.buuteeq_ponyhax.app.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uw.buuteeq_ponyhax.app.LoginActivity" />
        </activity>
    </application>

</manifest>
